@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}


/*TEMA CLARO PALETA DE CORES*/
:root {
    --cor-titulo: #022144;
    --cor-background-banner: #fafbfc;
    --cor-subtitulo: #32333c;
    --cor-paragrafo: #8a8fa3;
    --cor-card: #000000;
    --cor-background-card: #f6f8fc;
    --cor-fundo-container-rodape: #ffffff;
    --cor-fundo-rodape: #cccccc;


    /*A cor #feb633 vai ser aplicada no titulo com o uso de css::before,
    vai ser usada como css:hover no card e utilizada dentro do span no rodape
    */
    --laranja: #feb633;

    /*COR TEMA ESCURO*/

    --dark-fundo-card: #393838;
    --dark-fundo-topo-containerRodape: #252525;
    --dark-fundo-rodape: #747272;
}